<% if errors.present? %>
  <h3 class="title is-3"><%= pluralize(errors.size, "Error") %> Prohibited This Form From Saving:</h3>
  <ul>
    <% errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>