<h1 class="title">Projects</h1>

<%= link_to icon("plus-circle", "New Project"), new_project_path, class: "button is-link" %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= link_to "Edit", edit_project_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>